@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    animation: animate__animated animate__fadeInDown 1s ease-out;
}

#blog-posts {
    margin: 20px auto;
    width: 80%;
}

article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: animate__animated animate__fadeInUp 1s ease-out;
    transition: box-shadow 0.3s ease;
}

.date {
    float: right;
    font-style: italic;
    color: #777;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    animation: animate__animated animate__fadeInUp 1s ease-out;
}

/* Estilizando os títulos dos artigos */
article h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

/* Estilizando os parágrafos dos artigos */
article p {
    color: #555;
    line-height: 1.6;
    transition: color 0.3s ease;
}

/* Estilizando os links dentro dos artigos */
article a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Estilizando a data */
.date {
    font-size: 14px;
}

/* Efeitos de hover */
article:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article:hover h2 {
    color: #ff6600;
}

article:hover p {
    color: #777;
}

article:hover a {
    color: #0056b3;
}

header:hover,
footer:hover {
    background-color: #444;
}

*{ 
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

/* Tema escuro */
body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-theme header,
body.dark-theme footer {
    background-color: #1f1f1f;
}

body.dark-theme article {
    background-color: #1f1f1f;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

body.dark-theme article h2 {
    color: #e0e0e0;
}

body.dark-theme article p {
    color: #c0c0c0;
}

body.dark-theme article a {
    color: #82aaff;
}

body.dark-theme .date {
    color: #a0a0a0;
}

/* Estilo para o botão de alternar tema */
#toggle-theme-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 1000;
}

#toggle-theme-btn:hover {
    transform: scale(1.1);
    background-color: #444;
}
